@import "../../styles/variables";

.topbar {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 999;
  height: $navbarHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $horizontalPadding;

  .navbarBtns {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style-type: none;

    .btnItem {
    }
  }
}

@media (max-width: 600px) {
  .topbar {
    padding: 0 $horizontalPaddingResponsive;
  }
}
