@import "../../styles/variables";

.topbar {
  flex-shrink: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  height: $navbarHeight;
  padding: 0 $horizontalPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbarBtns {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style-type: none;

    .btnItem {
      position: relative;

      .profilePopup {
        position: absolute;
        top: 100%;
        right: 0;
        padding: 1rem;
        text-align: center;
        border-radius: 0.5rem;
        border: 1px solid;
        z-index: 9999;
      }
    }
  }
}

@media (max-width: 600px) {
  .topbar {
    padding: 0 $horizontalPaddingResponsive;
  }
}
