@import "../../../styles/variables";

.topbar {
  height: $navbarHeight;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;

  .navbarBtns {
    margin-right: 2rem;
    display: flex;
    gap: 1rem;
    list-style-type: none;

    .btnItem {
      position: relative;

      .profilePopup {
        position: absolute;
        top: 100%;
        right: 0;
        padding: 1rem;
        text-align: center;
        border-radius: 0.5rem;
        border: 1px solid;
        z-index: 9999;
      }
    }
  }
}
