.imgReference {
}

.imgFlipping {
  animation: flip 0.5s linear;
}

.flipped {
  scale: -1 1;
}

.canvasWrapper {
  position: absolute;
  top: 2rem;
}

@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
