.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.linkGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.embedGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}
