.music {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.musicContainer {
  display: flex;
  gap: 1rem;
  overflow-x: auto;

  .btnContainer {
    display: flex;
    gap: 0.5rem;
  }
}
